.main {
    display: flex;
    width: 100%;
    justify-content: center;
}
body {
    
    background: #0F6466;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}


.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;

}
.card img{
    height: 250px;
    border-radius: 2rem;
    padding: 1rem;
}

.title {
    display: flex;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.title p {
    display: flex;
    color: #D2E8E3;
    
}
.text {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.text a {
    padding: 1rem;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color:#D2E8E3;
}
.text1{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.text p {
    font-size: 18px;
    color: #D2E8E3;
}

.obras {
    display: flex;
    width: 70% ;
    height: 300px;
    background: #D2E8E3;
    border-radius: 2rem;
    margin: 1rem;    
    align-items: center;
}

.obras p {
    font-size: 18px;
    color: #0F6466;
}

.obra {
    
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: flex-start;
}

.text-obra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    padding: 1rem;

}